/*
 * Author: Corey Schram <corey@coreymedia.com>
 * Description: Main Stylesheet for Vidya Dev.
 *
 * Last Changed: 5/10/2011
 *
 * Palette:
 *   #2C333D Dark Blue
 *   #E1C799 Beige
 *   #A39D8C Gray
 *   #8A5A3D Brown
 *   #5A2A20 Dark Brown
 *
 */
/******************************************************************************************************
 * Mixins
 ******************************************************************************************************/
/******************************************************************************************************
 * Main Styles
 ******************************************************************************************************/
body {
  /*background: #2c333d url("../img/header.png") repeat-x;*/
  background-color: #2c333d;
  font-family: 'SansationRegular', Arial, sans-serif;
  font-size: 16px; }

h1, h2, h3, h4, h5 {
  font-family: 'MunroSmall', 'SilkscreenNormal', Arial, sans-serif;
  margin: 5px 0 0 20px;
  text-shadow: #E1C799 1px 1px 0; }

h1 {
  font-size: 60px;
  line-height: 60px;
  margin-bottom: 15px; }

h2 {
  font-size: 50px;
  line-height: 50px; }

h3 {
  font-size: 40px;
  line-height: 40px;
  margin-top: 10px; }

h4 {
  font-size: 30px;
  line-height: 30px; }

h5 {
  font-size: 20px;
  line-height: 20px; }

hr {
  background-color: #E1C799;
  border: none;
  border-top: 1px solid #8A5A3D;
  color: #E1C799;
  filter: alpha(opacity=50);
  height: 1px;
  margin: 10px auto;
  opacity: 0.5;
  width: 95%; }

p {
  font-size: 18px;
  margin: 0.5em 0;
  line-height: 22px;
  padding: 0; }

img.section-icon {
  float: right;
  left: -10px;
  position: relative;
  top: 10px; }

header img {
  margin-top: 5px; }
header p {
  color: #5a2a20;
  font-family: 'Munro', 'SilkscreenNormal', Arial, sans-serif;
  font-size: 20px;
  margin-top: 65px; }
header div#member-area {
  float: right;
  height: 88px;
  margin-top: 5px;
  text-shadow: #E1C799 1px 1px 2px; }
  header div#member-area form#login {
    margin-top: 4px; }
    header div#member-area form#login table#login-form input[type="text"], header div#member-area form#login table#login-form input[type="password"] {
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      width: 195px; }
    header div#member-area form#login table#login-form td {
      padding: 8px; }

nav {
  margin-top: 0px;
  margin-bottom: 30px; }
  nav a {
    color: #E1C799;
    font-family: 'Munro', 'SilkscreenNormal', Arial, sans-serif;
    font-size: 30px;
    margin-right: 40px;
    text-decoration: none;
    text-shadow: #5a2a20 1px 1px 0; }
  nav a:hover {
    color: white; }

div#main {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  box-shadow: 0 0 10px black;
  -webkit-box-shadow: 0 0 10px black;
  -mox-box-shadow: 0 0 10px black;
  background-color: #FFFAED;
  margin-bottom: 30px; }
  div#main a.replies {
    font-family: 'MunroSmall', 'SilkscreenNormal', Arial, sans-serif;
    font-size: 20px;
    margin-left: 20px; }
  div#main img.news-banner {
    box-shadow: 0 0 10px #555555;
    -webkit-box-shadow: 0 0 10px #555555;
    -mox-box-shadow: 0 0 10px #555555;
    margin-left: 10px;
    margin-top: 20px; }
  div#main img.section-icon {
    left: -30px;
    top: 20px; }
  div#main div {
    margin-bottom: 20px; }
  div#main p {
    padding: 0.25em 20px; }
  div#main span.irc-nick {
    color: blue;
    font-weight: bolder; }
  div#main span.irc-bot {
    color: green;
    font-weight: bolder; }

div#sidebar > div {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  box-shadow: 0px 0px 10px black;
  -webkit-box-shadow: 0px 0px 10px black;
  -mox-box-shadow: 0px 0px 10px black;
  background: #a39d8c url("../img/sidebar-bg.png");
  margin-bottom: 30px; }
  div#sidebar > div a {
    font-weight: bold;
    color: #2C333D; }
  div#sidebar > div input {
    margin: 0 10px 3px 20px; }
  div#sidebar > div input[type=submit] {
    margin: 10px 0 0 10px; }
  div#sidebar > div ul {
    margin: 15px 0 15px 10px; }
  div#sidebar > div p {
    padding: 0 10px; }

footer {
  clear: both;
  background: url("../img/footer.png") repeat-x;
  height: 60px;
  width: 100%; }
  footer div {
    color: #E1C799;
    font-family: 'MunroSmall', 'SilkscreenNormal', Arial, sans-serif;
    font-size: 20px;
    margin: 0 auto;
    padding-top: 15px;
    width: 940px; }
    footer div span {
      color: white; }
