{! templates/header.html !}

<div style="padding: 10px 20px 0 20px;">
  {% if (page_count > 0) { %}
    <div style="width: 100%;">
    {% if (page > 1) { %}
        <a href="http://bot.vidyadev.org/logs/{{ new_page }}" style="float:left;">&lt;&lt; Newer</a>
    {% } if (page < page_count) { %}
        <a href="http://bot.vidyadev.org/logs/{{ old_page }}" style="float:right;">Older &gt;&gt;</a>
    {% } %}
    </div>
    <div style="clear:both;"></div>
    <hr>
  {% } %}

  {% for (var i = 0; i < lines.length; i++) { %}
    {% if (lines[i] === "<hr>") { %}
      {{ lines[i] }}
    {% } else { %}
      {{ lines[i] }} <br>
    {% } %}
  {% } %}
     
  {% if (page_count > 0) { %}
    <hr>
    <div style="width: 100%;">
    {% if (page > 1) { %}
        <a href="http://bot.vidyadev.org/logs/{{ new_page }}" style="float:left;">&lt;&lt; Newer</a>
    {% } if (page < page_count) { %}
        <a href="http://bot.vidyadev.org/logs/{{ old_page }}" style="float:right;">Older &gt;&gt;</a>
    {% } %}
    </div>
    <div style="clear:both;"></div>
  {% } %}
</div>

{! templates/footer.html !}